.brands-button__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.brands-button {
  border: none;
  background-color: inherit;
  display: none;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}

.brands-button__img {
  width: 30px;
  height: 30px;
}

.brands-button__img--rotate {
  transform: rotate(180deg)
}

@media(min-width:768px) {
  .brands-button {
    display: flex;
  }
}