.content-block__text {
  margin: 16px;
  text-indent: 30px;
  text-align: justify;
  overflow: hidden;
  height: 120px;
  line-height: 24px;
}

.content-block--height-content{
  height: max-content;
}