@import 'default_variables';

.nav-menu {
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

.nav-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (min-width:1120px) {
  .nav-menu {
    flex-wrap: wrap;
  }
}

.nav-menu__el {
  margin-right: 10px;
  margin-left: 15px;
  padding: 10px 15px;
  white-space: nowrap;
  text-decoration: none;
  font-size: 16px;
  color: black;
  list-style-type: none;
}

.nav-menu__el--active {
  border: 0.06cm;
  border-radius: 7px;
  border-color: $activeBorder;
  border-style: solid;
  background-color: $white;
}

.nav-menu__link {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.nav-menu--acide {
  display: block;
  font-weight: 450;
  margin-top: 5vh;
}