@media(max-width:768px) {
  .swiper-wrapper {
    height: 90px;
  }
}

.swiper-pagination-bullet-active {
  background: gray;
}

@media(max-width:768px) {
  .swiper-wrapper {
    height: max-content;
    padding: 20px;
  }
}

.swiper-wrapper--services {
  padding: 20px;
}

@media(min-width:768px) {
  .swiper-wrapper--services{
    display: block;
  }
}