@import './assets/fonts.scss';
@import './assets/acide-menu.scss';
@import './assets/default_variables.scss';
@import './assets/menu-head.scss';
@import './assets/menu-button.scss';
@import './assets/logo.scss';
@import './assets/title.scss';
@import './assets/title-buttons.scss';
@import './assets/title-button.scss';
@import './assets/nav-menu.scss';
@import './assets/button.scss';
@import './assets/content.scss';
@import './assets/content-block.scss';
@import './assets/vertical-menu.scss';
@import './assets/link.scss';
@import './assets/languages.scss';
@import './assets/phone-number.scss';


.cards-section {
  background-color: $white;
  border-bottom-color: $borderColor;
  border-bottom-style: solid;
  border-bottom-width: 0.001cm;
  padding: 5px;
}

.cards-section__title {
  font-size: 16px;
  font-weight: 400;
}

.card {
  background-color: $white;
  border-color: $divideColor;
  border-style: solid;
  border-width: 0.001cm;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
  height: 60px;
  position: relative;
}

.card__img {
  display: block;
  position: absolute;
  left: 10px;
}

.card__button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-color: $buttonBackColor;
  background-color: $white;
  border-radius: 20px;
  position: absolute;
  right: 10px;
}

.card__button:hover {
  opacity: 0.6;
}

@media (min-width:768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1vw;
    row-gap: 20px;
    justify-items: center;
    padding: 15px;
    align-items: center;
    height: 140px;
    overflow: hidden;
  }
}

.cards--height-content {
  height: max-content;
}

@media (min-width:1120px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .card--display--none:nth-child(7) {
    display: flex;
  }

  .card--display--none:nth-child(8) {
    display: flex;
  }
}

.cards__brands-button {
  margin-left: 10px;
}

.brands-button__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.brands-button {
  border: none;
  background-color: inherit;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.brands-button__img {
  width: 30px;
  height: 30px;
}

.brands-button__img--rotate {
  transform: rotate(180deg)
}

@media(max-width:768px) {
  .brands-button {
    display: none;
  }

  .card--display--none {
    display: flex;
  }

  .swiper-wrapper {
    height: 90px;
  }
}

.swiper-pagination-bullet-active {
  background: gray;
}

// _____________________________________________________
@media(min-width:1120px) {
  body {
    display: flex;
    width: 100%;
    overflow: auto;
  }

  .acide-close-button {
    display: none;
  }
}

.card--repair {
  height: 150px;
  display: block;
  padding-left: 10px;
  font-weight: 500;
}

.card-button--repair {
  bottom: 20px;
}

@media(max-width:768px) {
  .swiper-wrapper {
    height: max-content;
    padding: 20px;
  }
}

// _____________________
.services{
  width: 260px;
  height: 200px;
  border-color: $divideColor;
  border-style: solid;
  border-width: 0.001cm;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

@media(min-width:768px) {
  .services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: solid rgb(223, 210, 210) 1px;
    border-radius: 0%;
    height: 70px;
    position: static;
    width: auto;
  }

  .services:nth-child(1), .services:nth-child(6){
    border-bottom: none;
  }
}

.services--display-none{
  display: none;
}

@media(min-width:768px) {
  .services--display-none{
    display: flex;
  }
}

.services__text{
  margin: 0px;
}

.services__text--color{
  color: gray;
}

@media(min-width:768px) {
  .services__text--display-none {
    display: none;
  }
}

.services__block {
  width: 200px;
  align-items: center;
}

.services__button {
  background: $buttonBackColor;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 120px;
  justify-content: space-around;
  position: absolute;
  right: 10px;
  bottom: 40px;
}

@media(min-width:768px) {
  .services__button {
    position: static;
  }
}

.arrow{
  border: solid white 3px;
  border-left: none;
  border-bottom: none;
  rotate: 45deg;
  width: 7px;
  height: 7px;
}

.services--white {
  background: $white;
}

.swiper-wrapper--services {
  padding: 20px;
}

@media(min-width:768px) {
  .swiper-wrapper--services{
    display: block;
  }
}

// _____________

.info{
  color: gray;
  margin: 15px;
}

.arrow--color-red{
  border-color:  $buttonBackColor;
}

.info__sall{
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

@media(max-width:768px) {
  .info__sall{
    gap: 5px;
    text-align: start;
  }
}



.info__text{
  max-width: 450px;
}

@media(max-width:768px) {
  .info__text--weight{
    max-width: 200px;
  }
}

.info__company{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0;
  margin-top: 30px;
}

@media(min-width:768px) {
  .info__company{
    flex-direction: row;
    gap: 40px;
    text-align: start;
  }
}

.info__point{
  margin-bottom: 20px;
  width: auto;
}

@media(min-width:768px) {
  .info__point{
    width: 40% ;
  }
}

// ___________________
.modal {
  width: 280px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  right: -500px;
  transition: right 0.5s;
  top: 0%;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  background: $white;
  display: flex;
  flex-direction: column;
  z-index: 1000; 
}

.modal-open{
  right: 0px;
  transition: right 0.5s;
}

.modal__info{
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
}

.modal__point{
  margin-bottom: 10px;
  border: solid gray 0.1px;
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

.modal__point--message{
  height: 100px;
}

.modal__point::placeholder{
  font-family: "TT Lakes";
  font-size: 15px;
}

.modal__point--message::placeholder{
  position: absolute;
  top: 7px;
}

.modal__title{
  padding: 0;
}

.modal__discription{
  margin-bottom: 20px;
}

.modal__link{
  color: $buttonBackColor;
  text-decoration: none;
  cursor: pointer;
}

.modal__flexButton{
  display: flex;
  justify-content: end;
}

.modal__button{
  position: static;
}

@media(min-width:768px) {
  .modal__close-button{
    position: absolute;
    right: 350px;
    top: 35px;
  }
}

.modal__info--display-none{
  display: none;
}

.blur{
  filter: blur(5px);
  cursor: pointer;
  transition: filter 0.5s;
}

.main-page{
  transition: filter 0.5s;
}
